{% extends "base.html" %}
{% block content %}


  <main class="container">
    <section class="mt-3 pb-5">
      {% for k,v in tours.items() %}
      {% if k == id %}

      <h1 class="display-3 mt-4">{{ v.title }}</h1>
      <!-- HERO -->
      {% set c = v.departure %}
       {{ departures['c'] }}
      {% for key,value in departures.items() %}
      {% if key == v.departure %}
      <p class="lead">{{ v.country }} {{ value }} {{ v.nights }} ночей</p>
      {% endif %}
      {% endfor %}
      <img src="{{ v.picture }} class="w-75" alt="">
      <p class="my-4 w-75">{{ v.description }}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{ v.price }}</a>
      {% endif %}
      {% endfor %}
    </section>
  </main>
 {% endblock %}